.info1 {
    filter: blur(0);
}

.info1:hover {
    filter: blur(0px);
    transition: 0s;
}
.info3 {
    filter: blur(15px);
}
.info3:hover {
    filter: blur(0px);
    transition: 1s;
}
.info4 {
    filter: blur(15px);
}
.info4:hover {
    filter: blur(0px);
    transition: 1s;
}










